
    <title>Nico Siebert Developer</title>
    <meta name="description" content="Vamos a aprender programación con Nico">
    
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="https://github.githubassets.com/favicons/favicon-dark.svg">
    
    <meta property="og:url" content="https://nicosiebert.github.io">

    <meta property="og:site_name" content ="Nico Siebert Developer">
    
    <meta property="og:title" content="inicio">
    <meta property="og:description" content="Build software better, together relleno cosdf sdf lorem dsifadshfiasd fsdhf hsaidf ufhsaiuhfsuidhfiushd  hsdf udhfudh">
   
    <meta name="twitter:title" content="Nico Siebert Developer">
    <meta name="twitter:card" content="Aprende y conecta">
    <meta name="twitter:description" content="Desarrollador web">
    <meta name="twitter:site" content="@nicosiebert2">
    <meta name="twitter:creator" content="@nicosiebert2">
    <meta name="twitter:image" content="https://nicosiebert.github.io/template/img/og_image.png">
    
    <meta property="og:image" content="https://nicosiebert.github.io/template/img/og_image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:src" content="https://nicosiebert.github.io/template/img/og_image.jpg">
    
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    
    <meta property="og:type" content="website">